In [ ]:
THIS NOTEBOOK CONTAINS CODE FOR CLEANING THE DATASET

### IMPORTING PACKAGES

In [1]:
import pandas as pd
import numpy as np

from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer

import re
import string

import nltk
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\91876\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\91876\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\91876\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

## Cleaning the Tag dataframe

In [3]:
data_tag=pd.read_csv(r"C:\Users\91876\Desktop\Poonam\Python_Project_1\Tags.csv")

data_tag.shape

(3750994, 2)

In [4]:
most_tag=data_tag.Tag.value_counts().head(10)
most_tag

javascript    124155
java          115212
c#            101186
php            98808
android        90659
jquery         78542
python         64601
html           58976
c++            47591
ios            47009
Name: Tag, dtype: int64

In [5]:
most_tag.index

Index(['javascript', 'java', 'c#', 'php', 'android', 'jquery', 'python',
       'html', 'c++', 'ios'],
      dtype='object')

In [6]:
top_tag = ['javascript', 'java', 'c#', 'php', 'android', 'jquery', 'python',
       'html', 'c++', 'ios']

In [7]:
top_data =data_tag[data_tag.Tag.isin(top_tag)]

top_data

               Id         Tag
14            260          c#
18            330         c++
28            650          c#
35            930          c#
39           1010          c#
...           ...         ...
3750974  40143150  javascript
3750981  40143190      python
3750984  40143210         php
3750987  40143340     android
3750989  40143360  javascript

[826739 rows x 2 columns]

In [8]:
top_data.shape

(826739, 2)

In [9]:
def list_tags(tag_id):
    return top_data[top_data['Id'] == tag_id['Id']].Tag.values

In [10]:
top_tag_data = top_data.apply(list_tags, axis=1)

top_tag_data

14                 [c#]
18                [c++]
28                 [c#]
35                 [c#]
39                 [c#]
               ...
3750974    [javascript]
3750981        [python]
3750984           [php]
3750987       [android]
3750989    [javascript]
Length: 826739, dtype: object

In [11]:
top_data=pd.concat([top_data,top_tag_data.rename("tag")], axis=1)

top_data

               Id         Tag           tag
14            260          c#          [c#]
18            330         c++         [c++]
28            650          c#          [c#]
35            930          c#          [c#]
39           1010          c#          [c#]
...           ...         ...           ...
3750974  40143150  javascript  [javascript]
3750981  40143190      python      [python]
3750984  40143210         php         [php]
3750987  40143340     android     [android]
3750989  40143360  javascript  [javascript]

[826739 rows x 3 columns]

In [12]:
del top_data["Tag"]

In [13]:
top_data.head()

      Id    tag
14   260   [c#]
18   330  [c++]
28   650   [c#]
35   930   [c#]
39  1010   [c#]

In [14]:
top_data.shape

(826739, 2)

In [15]:
top_data.to_pickle("./top_data_tag.pkl")

## Loading and mearging Question and Tag dataframe

In [17]:
df_question=pd.read_csv(r"C:\Users\91876\Desktop\Poonam\Python_Project_1\Questions.csv", encoding="latin-1")

df_question.head()

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...
2,120,83.0,2008-08-01T15:50:08Z,NaN,21,ASP.NET Site Maps,<p>Has anyone got experience creating <strong>...
3,180,2089740.0,2008-08-01T18:42:19Z,NaN,53,Function for creating color wheels,<p>This is something I've pseudo-solved many t...
4,260,91.0,2008-08-01T23:22:08Z,NaN,49,Adding scripting functionality to .NET applica...,<p>I have a little game written in C#. It uses...

In [18]:
data_question=df_question[["Id","Title","Body"]]

data_question.head()

,Id,Title,Body
0,80,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...
1,90,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...
2,120,ASP.NET Site Maps,<p>Has anyone got experience creating <strong>...
3,180,Function for creating color wheels,<p>This is something I've pseudo-solved many t...
4,260,Adding scripting functionality to .NET applica...,<p>I have a little game written in C#. It uses...

In [19]:
data_question.shape

(1264216, 3)

In [20]:
comb_data=pd.merge(data_question, top_data, on='Id')

comb_data.head()

,Id,Title,Body,tag
0,260,Adding scripting functionality to .NET applica...,<p>I have a little game written in C#. It uses...,[c#]
1,330,Should I use nested classes in this case?,<p>I am working on a collection of classes use...,[c++]
2,650,Automatically update version number,<p>I would like the version property of my app...,[c#]
3,930,How do I connect to a database and loop over a...,<p>What's the simplest way to connect and quer...,[c#]
4,1010,"How to get the value of built, encoded ViewState?",<p>I need to grab the base64-encoded represent...,[c#]

In [21]:
comb_data.shape

(826739, 4)

In [22]:
comb_data=comb_data.loc[comb_data.astype(str).drop_duplicates().index]

comb_data.shape

(706336, 4)

In [23]:
comb_data.isnull().values.any()

False

#### Splitting the data

In [25]:
x=comb_data[["Title","Body"]]
y=comb_data["tag"]

In [26]:
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=0.2,random_state=123)

In [27]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((565068, 2), (141268, 2), (565068,), (141268,))

In [28]:
x_train_title = x_train.Title
x_train_body = x_train.Body

x_test_title = x_test.Title
x_test_body = x_test.Body

y_train.to_pickle("./y_train.pkl")
y_test.to_pickle("./y_test.pkl")

#### CLEANING TITLE

In [30]:
x_train_title.head(10)

176568                      IE7 Flyout Navigation wont show
396758                   PHP in Javascript if mobile device
158229      iOS - Creating multi page PDF from HTML content
230711               how to remove a table row by a button?
298410       Need help getting sum of xml elements and more
68666                   How to get byte[] from IntPtr in C#
363008    How to get on a single page different links ba...
789527               Changing iterable variable during loop
744620                      Data Tables Jquery Dynamic Fill
624123      Strange behaviour in for loop with DataGridView
Name: Title, dtype: object

In [31]:
x_test_title.head(20)

65003                                     Odd draw behavior
565998                Show selected value in listpicker wp8
410324                How to get current Location of user ?
399484             Backbone.js model, specifying attributes
218860    Resize/scale all images in a directory and sav...
745591                            TCPDF bad format on table
66341                         Understanding for-nested loop
744479                            PHP Array Inside Function
243436    iOS App crashes on launch no device while debu...
342142    Using Perl to automate inputting and submittin...
243500    How to grey out a specific cell in an ios sett...
610997                         IOS alert message with sound
653127    Installer want won't overwrite existing app !!...
51944                  PyCharm imports and code completion
5506                                  Deleting a char array
65365                                     About error class
234009    Creating a loadmore button and display next se...
47002           Insert data in datagridview gives exception
515768                          Menu button stopped working
761058    executable jar from eclipse unable to use imag...
Name: Title, dtype: object

In [32]:
symbols = (',', '"','"', ':', ')', '(', '-', '!', '?', '|', 
           ';', "'", '$', '&', '/','\\', '[', ']', '>','<')

def clean_symbol(text):
    text = str(text)
    for symbol in symbols:
        text = text.replace(symbol,"")
    return text

def clean_numbers(text):
    text = re.sub('[0-9]',"",text)
    return text

def clean_process(text):
    
    text = text.lower()
    text = text.split()
    
    stops = set(stopwords.words("english"))
    text = [w for w in text if not w in stops]
    text = " ".join(text)
    text = re.sub(r"whatâ€™s", "what is ", text)
    text = re.sub(r"\â€™s", " ", text)
    text = re.sub(r"\â€™ve", " have ", text)
    text = re.sub(r"nâ€™t", " not ", text)
    text = re.sub(r"iâ€™m", "i am ", text)
    text = re.sub(r"\â€™re", " are ", text)
    text = re.sub(r"\â€™d", " would ", text)
    text = re.sub(r"\â€™ll", " will ", text)
    return text
    
    
def clean(sentence):
    sentence=clean_process(sentence)
    sentence=clean_symbol(sentence)
    sentence=clean_numbers(sentence)
    
    return sentence

In [33]:
x_train_title=x_train_title.apply(lambda x: clean(x))
x_test_title=x_test_title.apply(lambda x: clean(x))

In [34]:
x_train_title.to_pickle("./clean_x_train_title.pkl")
x_test_title.to_pickle("./clean_x_test_title.pkl")

#### CLEANING THE BODY

In [36]:
x_train_body.head(10)

176568    <p>I have a problem with a flyout on IE7... It...
396758    <p>i have question, that i can't  answer by my...
158229    <p>I have a long html page and wanted to conve...
230711    <p>I have created a form in which we can add m...
298410    <p>So I am creating a software for a store whe...
68666     <p>I want to pass a <code>IntPtr</code> to a m...
363008    <p>Perhaps a simple question.\nI want to keep ...
789527    <p>Let <code>it</code> be an iterable element ...
744620    <p>I am using DataTables in one of my projects...
624123    <p>I have a <code>DataGridView</code> that get...
Name: Body, dtype: object

In [37]:
x_test_body.head(10)

65003     <p>In my xna game, I have a method to create t...
565998    <p>I want to show selected value in listpicker...
410324    <p>I made an application in android. I have to...
399484    <p>I was wondering if there's a way to specify...
218860    <p>I am making a little script which goes thro...
745591    <p>Hello i have a trouble with TCPDF when writ...
66341     <pre><code> public static void main(String[] a...
744479    <p>I have declared an array assigned to a vari...
243436    <p>I'm trying to determine what's causing a cr...
342142    <p>my router's web interface has a thing to ch...
Name: Body, dtype: object

In [38]:
symbols = (',', '"','"', ':', ')', '(', '-', '!', '?', '|', 
           ';', "'", '$', '&', '/','\\', '[', ']', '>','<',".")

def clean_symbol1(text):
    text = str(text)
    for symbol in symbols:
        text = text.replace(symbol,"")
    return text

def clean_numbers1(text):
    text = re.sub('[0-9]',"",text)
    return text

def clean_process1(text):
    
    text = text.lower()
    text = text.split()
    
    stops = set(stopwords.words("english"))
    text = [w for w in text if not w in stops]
    
    lemma = WordNetLemmatizer()
    lemma_words = [lemma.lemmatize(word,"v") for word in text]
   
    text = " ".join(text)
    
    text=re.sub('<.*?>',"",text)
    text=re.sub("\n","",text)
    text = re.sub(r"whatâ€™s", "what is ", text)
    text = re.sub(r"\â€™s", " ", text)
    text = re.sub(r"\â€™ve", " have ", text)
    text = re.sub(r"canâ€™t", " cannot ", text)
    text = re.sub(r"nâ€™t", " not ", text)
    text = re.sub(r"iâ€™m", "i am ", text)
    text = re.sub(r"\â€™re", " are ", text)
    text = re.sub(r"\â€™d", " would ", text)
    text = re.sub(r"\â€™ll", " will ", text)
 
    return text
    
    
def clean1(sentence):
    sentence=clean_process1(sentence)
    sentence=clean_symbol1(sentence)
    sentence=clean_numbers1(sentence)
    
    return sentence

In [39]:
x_train_body=x_train_body.apply(lambda x: clean1(x))
x_test_body=x_test_body.apply(lambda x: clean1(x))

In [40]:
x_train_body.to_pickle("./clean_x_train_body.pkl")
x_test_body.to_pickle("./clean_x_test_body.pkl")